# Secrets
secrets.*
*.pdf

# outputs
*.png

# Backups / temporary files
*.bak
### Emacs ###
# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Ignore python

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# frontend stuff
.cache
node_modules
yarn-error.log

# Build directory
/public
.DS_Store
.idea